.portfolio{
  display: flex;
  flex-direction: column;
  padding: 100px;
  align-items: center;
  gap: 30px;
}

.work-portfolio {
  background-color: rgb(243, 243, 243);
  width: 100%;
  max-width: 1116px;
  line-height: 1.7rem;
  padding: 20px;
}

.work-portfolio h1 {
  color: rgb(78, 78, 78);
}

.portfolio .image,.portfolio h1,.portfolio h3,.portfolio p {
  max-width: 1116px;
  max-height: 658px;
}

.image {
  width: 100%;
  height: 50vw;
  /* background-color: var(--main-accent-color); */
  overflow: hidden;
}

.image img {
  max-height: auto;
  max-width: 100%;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  border: 3px solid black;
  border-radius: 10px;
  color: black;
}

.work-portfolio a {
  text-decoration: none;
}

.link:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

@media only screen and (max-width: 815px) {
  .image img{
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 565px) {
  .portfolio {
    padding:20px;
  }

  .image {
    height: 50vh;
  }
}