.nav-bar {
  width: 100vw;
  height: 100px;
  background-color: white;
  color: var(--main-accent-color);
  font-size: calc(10px + 2vmin);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 5px 28px ; */
}

.nav-bar {
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;
}

.nav-left {
  margin-left: 28px;
  user-select: none;
}
.nav-left .home{
  color: var(--main-accent-color);
  text-decoration: none;
}

.nav-right {
  margin-right: 28px;
}

.nav-button {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  border: 2px solid var(--main-accent-color) ;
  color: var(--main-accent-color);
  padding: 13px 20px;
  border-radius: 300px;
  background-color: white;
  margin-left: 7.5px;
  margin-right: 7.5px;
  transition: ease-in .2s;
  cursor: pointer;
  text-decoration: none;
}

.nav-button:hover {
  background-color: var(--main-accent-color);
  color: white;
}