.intro {
  width: 50vw;
  font-size: 1.2rem;
  margin-left: 105px;
  margin-top: 90px;
}

.hello {
  color: salmon;
  font-weight: 500;
}

.name {
  margin-top: 15px;
  font-size: 6rem;
  font-weight: 600;
  color: grey;
  margin-bottom: 35px;
}

.intro-body {
  font-family:'Courier New', Courier, monospace;
  line-height: 2rem;
}