.intro {
  width: 50vw;
  font-size: 1.2rem;
  margin-left: 105px;
  margin-top: 90px;
}

.hello {
  color: var(--main-accent-color);
  font-weight: 500;
}

.name {
  margin-top: 15px;
  font-size: 6rem;
  font-weight: 600;
  color: grey;
  margin-bottom: 35px;
}

.intro-body {
  font-family:var(--main-font);
  line-height: 2rem;
}

@media only screen and (max-width: 565px) {
  .intro {
    margin-left: 20px;
    margin-top: 0px;
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .name {
    font-size: 2rem;
    margin-bottom: 15px;
  }

  .intro-body {
    padding-bottom: 20vh;
  }
}