:root {
  --main-accent-color: rgb(94, 199, 173);
  --main-font:'Inter', sans-serif;
  font-size: 1.2rem;
}

.App {
  width: 100vw;
  height: auto;
  background-color: rgb(247, 247, 243);
}

.content {
  min-height: 100vh;
}