.main {
  margin: 100px;
}

.head-image {
  width: 100vw;
  height: auto;
  /* background-color: var(--main-accent-color); */
  overflow: hidden;
}

.head-image img{
  width: 100%;
  height: auto;
}

.head {
  display: flex;
  justify-content: center;
}

.head h1 {
  font-size: 3rem;
  margin-top: 0px;
}

.head h4, .roles p{
  margin: 0px;
}

.header-under {
  display: flex;
  gap: 3vw;
}

.roles {
  display: flex;
  flex-direction: column;
}

.main p, .main li {
  line-height: 1.7rem;
}

.quote {
  margin: 100px 20vw;
}
.mock-image {
  ;
}

.mock-image img{
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 1550px) {
  .head {
    flex-direction: column-reverse;
  }

  .roles {
    margin-bottom: 50px;
  }

  .head-image {
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;
  }

  .head-image img{
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 1150px) {
  .head-image img{
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 987px) {
  .head {
    flex-direction: column;
  }

  .head-image {
    width: 100%;
    height: 50vh;
  }

  .head-image img{
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 565px) {
  .main{
    margin: 20px;
  }

  .mock-image {
    overflow-x: scroll;
    height: 105vh;
  }

  .mock-image img{
    height: 100vh;
    object-fit: cover;
  }
}